div.background {
  background: #f8a978;
  text-align: center;
  .color {
    color: #1f5e84;
  }
}
.card-title-background {
  background: #1f5e84;
  text-align: center;
  color: blanchedalmond;
}
.image-border {
  max-width: 50%;
  align-self: center;
  text-align: center;
  background: #f8a978;
}
.about-info {
  background-color: #f2c4c4;
}
