
.nav-style {
background: url('https://cdn1.vectorstock.com/i/thumb-large/96/90/abstract-colorful-seamless-pattern-in-terrazzo-vector-22679690.jpg') pink;
font-weight: bold;
color: #1F5E84;
}
.text-style-color {
  background-color: blanchedalmond;
  color: #1F5E84;
  font-weight: bold;
  margin-left: 5%;
}
