nav.nav-style {
  background: url('https://cdn1.vectorstock.com/i/thumb-large/96/90/abstract-colorful-seamless-pattern-in-terrazzo-vector-22679690.jpg')
    pink;
  font-weight: bold;
  color: #1f5e84;
  justify-content: center;
  .text-style-color {
    background-color: blanchedalmond;
    font-weight: bold;
    margin-left: 5%;
  }
  .navbar-nav {
    align-items: center;
    background: blanchedalmond;
  }

  p.footer-color {
    background-color: blanchedalmond;
  }

  div.dropdown-menu.show {
    background: blanchedalmond;
    border-radius: 15%;
  }
}
