section.nav-style {
  background-image: url('https://cdn1.vectorstock.com/i/thumb-large/96/90/abstract-colorful-seamless-pattern-in-terrazzo-vector-22679690.jpg');
  font-weight: bold;
  color: #1f5e84;
  text-align: center;

  div.nav-item {
    background-color: blanchedalmond;
    color: #1f5e84;
    margin: 0px 10px 10px 0px;
    border-radius: 10%;
  }

  .text-style {
    color: #1f5e84;
  }
  p.nav-link {
    color: #1f5e84;
    background-color: blanchedalmond;
    margin: 0px 10px 10px 0px;
    border-radius: 10%;
  }
}

//Footer
footer.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url('https://cdn1.vectorstock.com/i/thumb-large/96/90/abstract-colorful-seamless-pattern-in-terrazzo-vector-22679690.jpg');
  color: #1f5e84;
  text-align: center;
  p {
    padding: 10px 0 10px 0;
  }
}
