h1.title {
  color: #1f5e84;
  background: blanchedalmond;
  max-width: fit-content;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  font-family: monospace;
  padding: 10px 30px;
}
.overview-title {
  background: blanchedalmond;
  color: rgb(123, 94, 51);
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}
.hero-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: blanchedalmond;
  border-radius: 5px;
  h3 {
    margin: 30px;
    color: rgb(123, 94, 51);
  }
}
.navy-banner {
  min-height: 10px;
  background-color: #1f5e84;
}

.cat-link {
  background-color: rgb(123, 94, 51);
  color: #f2c4c4;
  padding: 5px;
  font-size: 35px;
}
.dog-link {
  background-color: rgb(123, 94, 51);
  color: #f8a978;
  padding: 5px;
  font-size: 35px;
}
.cat-section {
  padding-top: 50px;
}
.dog-section {
  padding-top: 30px;
}

@media only screen and (max-width: 650px) {
  .dog-wrapper {
    h3 {
      text-align: center;
    }
    p {
      display: none;
    }
  }
}
