div.background-color {

  background: #f2c4c4;
}
div.form-container {
  margin-left: 25%;
  margin-right: 25%;
  height: 100vh;
  padding-top: 5%;
  
 
}

.btn-primary {
background-color: #1f5e84;

}
h3.pet-form {
  color: #1f5e84;
  padding: 5%;
}

h1.pet-title {
  text-align: center;
  color: white;
  background-color: #1f5e84;
}